.header {
  background: $dark-blue;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.header__title {
  color: #fff;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}
.header__right {
  display: flex;
  align-items: center;
}
.header__spoken {
  height: 2rem;
  width: 2rem;
}
.header__target{
  height: 4rem;
  width: 4rem;
}