.input-restaurant {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: $l-size 0 $l-size*2 0;
}
.input-restaurant__search {
  display: flex;
  flex-direction: row;
}
.input-restaurant input {
  border: 0;
  border-bottom: 1px solid $dark-blue;
  color: $dark-blue;
  font-style: italic;
  text-align: center;
}