.loader {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  // top: 40%;
  // left: 40%;
  position: fixed;
}

.loader__image {
  height: 12rem;
  width: 12rem;
}
