.text-input {
text-align: center;
}

.text-input__form {
  display: flex;
  justify-content: center;
}

.text-input__textarea {
  margin: 0 auto;
  color: red;
  width: 70vw;
  height: 80vh;
  padding: 20px;
  box-sizing: border-box;
  border: solid 4px #eee;
  border-radius: 5px;
  resize: none;
}
